﻿@model IEnumerable<JobStatusViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@Html.ValidationSummary()

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Floor</th>
            <th scope="col">Status</th>
            <th scope="col">Room Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr style="background-color: @job.StatusColour">
                <th scope="row">@job.Id</th>
                <td>@job.Name</td>
                <td>@job.Floor</td>
                <td>@job.StatusName</td>
                <td>@job.RoomTypeName</td>
                <td>
                    @if (job.CanBeCompleted)
                    {
                        <form asp-action="Index" asp-controller="Home" method="post" asp-route-id="@job.Id">
                            <button class="button">Complete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
